/*Open Props Import */
@import "https://unpkg.com/open-props";
/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;600&display=swap');




  
/*   * {
    font-family: 'Stick', sans-serif;
} */

body {
  background-image: var(--gradient-12), var(--noise-5);
  filter: var(--noise-filter-3);
  height: 400vh;
} 

main {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 32px
}

audio {
  width: 100%;
  padding: 10px 20px 20px 10px;
  justify-content: flex-end;
}

h1 {
  font-family: 'Stick', sans-serif;
  font-size: 62px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

h1 a {
  font-family: 'Stick', sans-serif;
  color: var(--lime-5);
  text-decoration: none;
}

#callout {
  font-family: 'Stick', sans-serif;
  color: yellow;
/*   animation: var(--animation-blink); */

}
#callout:hover {
    animation: var(--animation-blink);
}

#title {
  font-family: 'Stick', sans-serif;
  font-size: 100px;
  color: whitesmoke;
  animation: var(--animation-slide-in-right);

}

#intro {
  font-family: Tourney, sans-serif;
  font-size: 100px;
  padding: 0px;
  color: whitesmoke;
  animation: var(--animation-slide-in-left);
}

h2 p {
  font-family: 'Tourney', sans-serif;
  color: whitesmoke;
}

#jitter:hover {
  animation: var(--animation-bounce);
}
h3 {
  font-family: 'Stick', sans-serif;
}